<% layout("layouts/boilerplate") %>
<div class="container mt-4">
  <h2 class="mb-4"> My Reviews</h2>

  <% if (reviews.length === 0) { %>
    <p>You haven’t reviewed any listings yet.</p>
  <% } else { %>
    <ul class="list-group">
      <% reviews.forEach(review => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong><%= review.listing?.title || "Listing Deleted or Missing" %></strong>
            <br>
            <small><%= review.comment %></small>
          </div>
          <% if (review.listing) { %>
             <div class="d-flex gap-2">
            <a href="/listings/<%= review.listing._id %>" class="btn btn-sm btn-primary ">View</a>
            <form action="/listings/<%= review.listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
            </div>
            <% } else { %>
            <span class="text-muted">No listing found</span>
            <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>

