<% layout("layouts/boilerplate") %>
<div class="container-fluid mt-3 px-md-5">
<%- include('filters') %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <% for (let l of allListing) { %>
      <div class="col">
        <div class="mycard">
            <!-- Heart icon in corner -->
         <i class="<%= currentUser && currentUser.wishlist.includes(l._id.toString()) ? 'fa-solid text-danger' : 'fa-regular' %> fa-heart wishlist-icon"
          onclick="toggleWishlist('<%= l._id %>', this)">
        </i>
          <a href="/listings/<%= l._id %>" class="text-decoration-none text-dark">
            <img src="<%= l.image?.url %>" alt="img" class="myimg">
            <div class="mybody">
              <h6 class="mb-0"><b><%= l.title %></b></h6>
              <p class="fw text-muted">
                ₹ <%= l.price.toLocaleString("en-IN") %>
                <i class="tax-info">&nbsp;+20%GST</i> 
                <% const r = (Math.random() * 2 + 3).toFixed(1); %>
                &nbsp;<%= r %> <i class="fa-solid fa-star"></i>
              </p>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
  <div id="offerCard" class="position-fixed bottom-0 start-0 m-4 p-2 rounded d-flex flex-column gap-2 text-dark">
  <button class="btn-close align-self-end" onclick="this.parentElement.remove()"></button>
  <img src="https://miro.medium.com/v2/resize:fit:1200/1*wkTSRqhNkRQnMs2lHnEhVQ.png" class="rounded" />
  <strong class="small">No Service Fee for First Booking!</strong>
  <a href="https://www.airbnb.co.in/help" class="btn btn-dark btn-sm rounded-pill">Know more</a>
  </div>
</div>

<script src="/js/wishlist.js"></script>


