<% layout("layouts/boilerplate") %>
<div class="container-fluid mt-4 px-md-5">
  <h3 class="mb-4">Search Results for "<%= query %>"</h3>

  <% if (results.length === 0) { %>
    <p>No listings found.</p>
  <% } else { %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <% for (let l of results) { %>
        <div class="col">
          <div class="mycard position-relative">
            <i class="<%= currentUser && currentUser.wishlist.includes(l._id.toString()) ? 'fa-solid text-danger' : 'fa-regular' %> fa-heart wishlist-icon"
              onclick="toggleWishlist('<%= l._id %>', this)">
            </i>
            <a href="/listings/<%= l._id %>" class="text-decoration-none text-dark">
              <img src="<%= l.image?.url %>" alt="img" class="myimg">
              <div class="mybody">
              <h6 class="mb-1"><b><%= l.title %></b></h6>
              <p class="fw text-muted">₹ <%= l.price.toLocaleString("en-IN") %></p>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>

<script src="/js/wishlist.js"></script>
